
@font-face
{
  font-family: Bartley;
  src: url('../Bartley.ttf');
}

body
{
  font-family: Bartley, arial;
}

#container
{
  position: relative;
  background-image: url("../images/board.png");
  background-repeat: no-repeat;
  width: 690px;
  height: 450px;
  margin: 0px  0px 0px 77px;
}

#imageView 
{
  position: absolute;
  top: 22px;
  left: 23px;
  background-color: white;
}

#imageTemp 
{ 
  position: absolute;
  top: 22px; 
  left: 23px; 
}

#panel
{
  background: url("../images/panel.png");
  background-repeat: no-repeat;
  /*width: 640px;*/
  height: 150px;
  margin: 20px 10px 0px 20px;
  padding: 20px 0px 0px 0px;
  position: relative;
}

.tools 
{
  margin: 0px;
  padding: 0px 0px 0px 28px;
}

.tool:hover
{
  opacity: 0.8;
}

.tool, .toolStyle
{
  display: inline-block;
  vertical-align: middle;
}

.toolStyle
{
  font-weight: bold;
  text-align: center;
  /*width: 90px;*/
  margin: 0px 10px;
}

.tool
{
  cursor: pointer;
  /*position: absolute;*/
  width: 65px;
  height: 65px;
}

.tool img
{
  width: 0px;
  height: 0px;
}

#Pencil { background: url("../images/pencil_sprite.png") 0 0; }
#Line { background: url("../images/line_sprite.png") 0 0; }
#Rectangle { background: url("../images/rectangle_sprite.png") 0 0; }
#Ellipse { background: url("../images/ellipse_sprite.png") 0 0; }
#Text { background: url("../images/text_sprite.png") 0 0; }
#PaintBucket { background: url("../images/paint_bucket_sprite.png") 0 0; }
#Eraser { background: url("../images/eraser_sprite.png") 0 0; }

#imageTemp {
  cursor: crosshair;
}

#chat
{
  background-image: url("../images/chat.png");
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 270px;
  height: 420px;
  padding: 10px 20px 10px 0px;
}

#chat h2
{
  padding: 0px 10px;
  margin: 0px;
}

.chatBox {
  padding: 2px 2px 2px 3px;
  margin: 0px auto 10px auto;
  width: 240px;
  background-color: #FFFFFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
}

#onlineMembers
{
  height: 95px;
}

#chatContent
{
  height: 220px;
}

.nano .pane   { background: #66ccff; }
.nano .slider { background: #66ccff; }

#textareaWrapper textarea
{
  margin-top: 10px;
  width: 210px;
  height: 230px;
  border-color: #FFFFFF;
  /*overflow-y: scroll;*/
}

#textBox form
{
  /*position: absolute;*/
  /*bottom: 15px;*/
  /*left: 10px;*/
  padding: 5px 0px 0px 10px;
  margin: 0px;
}

#textBox form input
{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold;
}

.hoverBox
{
  float:left;
  padding-left: 10px;
}

#textPanel 
{
  background-image: url("../images/text_panel.png");
  background-repeat: no-repeat;
  height: 60px;
  margin: 20px 17px;
  font-weight: bold;
  display: none;
}

#textInput
{
  margin: 18px 0px 15px 20px;
  width: 330px;
  font-family: Bartley;
}